<h3 class="text-center mt-2">Detalle del empleado: {{empleado.nombre}} {{empleado.apellido}}</h3>
<div>
  <div>
    <label><b>ID: </b> {{empleado.id}}</label>
  </div>

  <div>
    <label><b>Nombre: </b> {{empleado.nombre}}</label>
  </div>

  <div>
    <label><b>Apellido: </b> {{empleado.apellido}}</label>
  </div>

  <div>
    <label><b>Correo Electrónico: </b> {{empleado.email}}</label>
  </div>

  <div>
    <button class="btn btn-primary outnone" (click)="volveratras()"><i class="bi bi-arrow-left"></i> Regresar</button>
  </div>
</div>
